<h1><%= @name %> Tut Sample App</h1>
<p>
  <p style="color: <%= @favorite_color %>">My Favorite color is <%= @favorite_color %></p>
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  Tut Sample App.
</p>

